@{
    ViewData["Title"] = "Home Page";
}

@model BookStoreViewModel

<h1>Books</h1>

@*this gives us our output on the main page*@

@foreach(Book b in Model.Books)
{
    <h3>@b.Title</h3>
    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>Number of Pages: @b.PageCount</li>
        <li>Price: @b.Price</li>
    </ul>
    <br />
}

@*links at the bottom of the page*@

<div page-book="@Model.BookInfo" page-action="Index"></div>